In [1]:
import pandas as pd
import numpy as np

### read from an Excel file
documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html

you don't need to have MS-Excel on your computer

In [2]:
file_name_string = '/Users/MarkBenson/Documents/GitHub/Lynda/Ex_Files_Pandas_Data/Exercise Files/02_07/Final/EmployeesWithGrades.xlsx'
Employees_df = pd.read_excel(file_name_string, 'Sheet1', index_col=None, na_values=['NA'])

In [3]:
Employees_df.head(5)

    Department     Name  YearsOfService Grade
0    Marketing     Able               4     a
1  Engineering    Baker               7     b
2   Accounting  Charlie              12     c
3    Marketing    Delta               1     d
4  Engineering     Echo              15     f

### write to a comma separated value (.csv) file
documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html

In [5]:
file_name_string_csv = '/Users/MarkBenson/Documents/GitHub/Lynda/Ex_Files_Pandas_Data/Exercise Files/02_07/Final/EmployeesWithGrades.csv'
Employees_df.to_csv(file_name_string_csv )

### Similar functions
[Write to Excel](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_excel.html)

[Read from .csv](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)